/* Main */
.main {
  max-width: 1200px;
  margin: 0 auto;
}

.main--title {
  text-align: center;
}

.main-breadcrumb {
  font-size: 0.6em;
  margin: 30px 0;
}

.sections {
    display: flex;
    flex-wrap: wrap;
}

.content {
    width: 650px;
}

.main__breadcrumb--link,
.content--link {
  text-decoration: none;
  color: #000000;
}

.main__breadcrumb--link.selected,
.content--link,
.content__card--link {
  color: rgb(222, 35, 51);
}

.content--img {
  width: 100%;
}

.content--author {
  margin: 10px 0 40px;
  font-size: 0.6em;
}

.content--complete {
  font-size: 0.8em;
  font-style: italic;
  font-weight: bold;
}

/* CARD */
.content__card {
  display: flex;
  background-color: rgb(244, 246, 247);
  padding: 25px;
  margin: 15px 0;
}

.content__card--img {
  height: 50px;
  border-radius: 10px;
}

.content__card--article {
  padding-left: 20px;
}

.content__card--title {
  font-size: 1.6em;
  font-weight: bold;
  padding-bottom: 20px;
}

.content__card--subtitle {
  font-size: 1.3em;
  font-weight: bold;
  padding-top: 15px;
}

.content__card--list {
  list-style: none;
  padding-left: 0;
}

.content__card--link {
  text-decoration: none;
}

/* FORM */

.form {
  margin-bottom: 80px;
}

.form--subtitle {
  font-size: 0.6em;
  padding-bottom: 15px;
}

.form--textarea,
.form--input {
  width: 90%;
  background-color: rgb(244, 246, 247);
  border: 0;
  margin-bottom: 20px;
  padding: 10px;
}

.form__check {
  margin-bottom: 20px;
}

.form--textarea {
  height: 150px;
}

.form--input {
  height: 20px;
}

.form--button {
  color: #ffffff;
  background-color: rgb(222, 35, 51);
  padding: 10px;
  border: 0;
  font-size: 1em;
}

/* ASIDE */

.articles {
    width: 350px;
    margin-left: 50px;
}

.articles__content {
    display: flex;
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 2px dotted rgba(0, 0, 0, 0.5)
}

.articles--img {
    width: 70px;
    border-radius: 70px;
}

.article--title {
    font-weight: bold;
    text-transform: uppercase;
}

.article--date {
    font-size: 0.8em;
}

.article__text {
    padding-left: 15px;
}

@media only screen and (max-width: 1250px) {
  
    .content {
      padding: 15px;
    }
  }
  